.header__nav {
  &__menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    margin: 0;
    user-select: none;
  }
}

@media (max-width: 1040px) {
  .header__nav {
    &__menu {
      flex-direction: column;
      margin-bottom: 40px;
      gap: 20px;
    }
  }
}