.our-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
  &__title {
    text-align: center;
  }

  &__products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
}

@media (max-width: 1040px) {
  .our-collection {
    &__products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 700px) {
  .our-collection {
    &__products {
      grid-template-columns: 1fr;
    }
  }
}